@import '../../scss/variables/colors';
@import '../../scss/variables/spacing';

.account {
   
    &-container {
        padding: $spacer-2_5;
        width: 850px;
        box-sizing: border-box;
    }

    &-box {
        background-color: $shade-white;
        border-radius: 8px;
        padding: $spacer-2;

        &__tools {
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-bottom: $spacer-2;

            .selected-users__nr {
                font-weight: 600;
                font-size: 16px;
                color: $default-gray-80;
                margin-right: $spacer-2_5;
            }
        }
    }
}

.users-list {
    &__item {
        display: flex;
        grid-template-rows: repeat(5, 1fr);
        padding: $spacer-1_5 $spacer-2_5 $spacer-1_5 0;
        align-items: center;
        margin-bottom: 4px;
        border-radius: 4px;
        
        &--selected,
        &:hover {
            background-color: $default-gray;

            .users-list__buttons-container {
                display: block;
            }
        }

        &--selected {
            border-left: 4px solid $default-brand-50;
        }
    } 
    
    &__checkbox-container {
        width: 42px;
        margin-right: $spacer-1_5;

        span {
            padding: 0;
        }
    }

    &__avatar-container {
        width: 32px;
        margin-right: $spacer-1_5;
    }

    &__avatar-image {
        width: 32px;
        height: 32px;
        border-radius: 16px;
    }

    &__name-container {
        width: 300px;
    }

    &__name {
        font-weight: 600;
        color: $default-fray-80;
        margin-right: $spacer-1_5;
    }

    &__role-container {
        width: 140px;
        margin-right: $spacer-1_5;
    }

    &__role {
        padding: 3px 8px;
        display: inline-block;
        border-radius: 4px;
        font-weight: 600;

        &--account_manager {
            background-color: $default-pink-20;
            color: $default-pink-80;
        }

        &--agent {
            background-color: $default-blue-20;
            color: $default-blue-80;
        }

        &--external_reviewer {
            background-color: $default-orange-20;
            color: $default-orange-80
        }

        &--admin {
            background-color: $default-purple-20;
            color: $default-purple-80;
        }
    }

    &__buttons-container {
        margin-left: auto;
        display: none;
    }
} 
