@import '../../scss/variables/colors';
@import '../../scss/variables/spacing';

.account {
    &-container {
        padding: $spacer-2_5;
        width: 850px;
        box-sizing: border-box;
    }

    &-box {
        background-color: $shade-white;
        border-radius: 8px;
        padding: $spacer-2;

        &__tools {
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-bottom: $spacer-2;
            padding-left: $spacer-1_5;

            .selected-users__nr {
                font-weight: 600;
                font-size: 16px;
                color: $default-gray-80;
                margin-right: $spacer-2_5;
            }

            .buttons-container {
                display: flex;

                .button {
                    margin-left: $spacer-1;
                }
            }
        }
    }
}
