/*   Base Colors */

$shade-white: #fff;
$default-brand-50: #475DE5;
$default-blue-20: #C8E7F9;
$default-blue-80:#2C5282;
$default-purple-20: #EFE2FE;
$default-purple-80: #574195;
$default-gray: #F7FAFC;
$default-gray-80: #2D3748;
$default-gray-30: #E2E8F0;
$default-fray-60: #718096;
$default-fray-80: #2D3748;
$default-pink-80: #922B6C;
$default-pink-20: #FEDDE6;
$default-orange-20: #FEEBC8;
$default-orange-80: #91472C;