$spacer: .5rem;      /* 8px */

$spacer-0: 0;        /* 0px */
$spacer-1: .25rem;   /* 4px */
$spacer-1_5: .75rem; /* 12px */
$spacer-2: 1rem;     /* 16px */
$spacer-2_5: 1.25rem;/* 20px */
$spacer-3: 1.5rem;   /* 24px */
$spacer-4: 2rem;     /* 32px */
$spacer-5: 2.5rem;   /* 40px */
$spacer-6: 3rem;     /* 48px */
$spacer-7: 3.5rem;   /* 56px */
$spacer-8: 4rem;     /* 64px */
$spacer-9: 4.5rem;   /* 72px */
