$bb-type--size-xs: 0.625rem;
$bb-type--size-sm: 0.75rem;
$bb-type--size-md: 0.875rem;
$bb-type--size-lg: 1rem;
$bb-type--size-xl: 1.125rem;


$bb-type--weight-normal: 500;
$bb-type--weight-medium: 600;
$bb-type--weight-bold: 800;


$bb-type--height-xs: 1rem;
$bb-type--height-sm: 1.25rem;
$bb-type--height-md: 1.5rem;


$bb-type--size-h1: 1.875rem;
$bb-type--size-h2: 1.5rem;
$bb-type--size-h3: 1.25rem;
$bb-type--size-h4: $bb-type--size-xl;
$bb-type--size-h5: $bb-type--size-lg;
$bb-type--size-h6: $bb-type--size-md;
$bb-type--size-h7: $bb-type--size-sm;
$bb-type--size-h8: $bb-type--size-xs;
